/* TYPOGRAPHY
----------------------------------------------------------- */

.s5_greenbox {
	position:relative;
	padding:12px;
	color:#ffffff;
	background:#185564;}
	.s5_greenbox a {color:#ffffff;}

.s5_greenbox .tl {
	left:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typodg_tl.jpg) no-repeat top left;}

.s5_greenbox .tr {
	right:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typodg_tr.jpg) no-repeat top left;}


.s5_greenbox .bl {
	left:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typodg_bl.jpg) no-repeat top left;}

.s5_greenbox .br {
	right:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typodg_br.jpg) no-repeat top left;}

.s5_greenbox .point {
	padding-left:28px;
	text-shadow:1px 1px #000000;
	background:transparent url(../images/typography/s5typodg_point.jpg) no-repeat center left;}	
	

	
	
	
.s5_graybox {
	position:relative;
	padding:12px;
	color:#313131;
	background:#e6e6e6;}
	.s5_graybox a {color:#313131;}

.s5_graybox .tl {
	left:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typog_tl.jpg) no-repeat top left;}

.s5_graybox .tr {
	right:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typog_tr.jpg) no-repeat top left;}


.s5_graybox .bl {
	left:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typog_bl.jpg) no-repeat top left;}

.s5_graybox .br {
	right:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typog_br.jpg) no-repeat top left;}

.s5_graybox .point {
	padding-left:28px;
	padding-bottom:1px;
	text-shadow:1px 1px #ffffff;
	background:transparent url(../images/typography/s5typog_point.jpg) no-repeat center left;}	
	
	
	
	
	
	
	
	
.s5_bluebox {
	position:relative;
	padding:12px;
	color:#ffffff;
	background:#22ace5;}
	.s5_bluebox a {color:#ffffff;}

.s5_bluebox .tl {
	left:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typob_tl.jpg) no-repeat top left;}

.s5_bluebox .tr {
	right:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typob_tr.jpg) no-repeat top left;}

.s5_bluebox .bl {
	left:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typob_bl.jpg) no-repeat top left;}

.s5_bluebox .br {
	right:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typob_br.jpg) no-repeat top left;}

.s5_bluebox .point {
	text-shadow:1px 1px #000000;
	padding-left:28px;
	background:transparent url(../images/typography/s5typob_point.jpg) no-repeat center left;}		
	
	
	
	
	
.s5_redbox {
	position:relative;
	padding:12px;
	color:#ffffff;
	background:#ff5858;}
	.s5_bluebox a {color:#ffffff;}

.s5_redbox .tl {
	left:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typor_tl.jpg) no-repeat top left;}

.s5_redbox .tr {
	right:0;
	top:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typor_tr.jpg) no-repeat top left;}

.s5_redbox .bl {
	left:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typor_bl.jpg) no-repeat top left;}

.s5_redbox .br {
	right:0;
	bottom:0;
	height:7px;
	width:7px;
	position:absolute;
	background:transparent url(../images/typography/s5typor_br.jpg) no-repeat top left;}

.s5_redbox .point {
	text-shadow:1px 1px #000000;
	padding-left:28px;
	background:transparent url(../images/typography/s5typor_point.jpg) no-repeat center left;}		
	

blockquote {
	background:transparent url(../images/typography/s5_left_quote.png) no-repeat top left;
	color:#000000;
	font-weight:normal;
	font-size:18px;
	font-style:italic;
	line-height:150%;
	margin:15px 0pt;
	padding:0px 0px 5px 65px;
	width:auto;
}

blockquote p {
	background:transparent url(../images/typography/s5_right_quote.png) no-repeat bottom right;
	margin-top:0pt;
	padding:0pt 65px 10px 0pt;
}


.code {
	background:#dfdfdf none repeat scroll 0%;
	border-left:solid 5px #666666;
	color:#333333;
	font-family:monospace;
	font-size:9pt;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:15px;
	margin-bottom:15px;
	padding:10px 20px;
	text-shadow:none;
	padding-top:20px;
	padding-bottom:20px;
}

ul.ul_arrow li {
	background:transparent url(../images/typography/s5_ul_arrow.png) no-repeat top left;
	padding:1px;
	padding-left:18px;
	padding-right:18px;
}

	
	ul.ul_arrow {
		padding-left:0px;
		margin-left:0px;
		list-style-type:none;}

ul.ul_star li {
	background:transparent url(../images/typography/s5_ul_star.png) no-repeat top left;
	padding:3px;
	padding-left:23px;
	padding-right:18px;
}


	ul.ul_star {
		padding-left:0px;
		margin-left:0px;
		list-style-type:none;}

ul.ul_bullet li {
	background:transparent url(../images/typography/s5_ul_bullet.png) no-repeat top left;
	padding:3px;
	padding-left:23px;
	padding-right:18px;
}



	ul.ul_bullet {
		padding-left:0px;
		margin-left:0px;
		list-style-type:none;}

		
ul.ul_bullet_small li {
	background:transparent url(../images/typography/s5_bullet_small.png) no-repeat top left;
	padding:5px 18px 0 21px;
}

	ul.ul_bullet_small {
		padding-left:0px;
		margin-left:0px;
		list-style-type:none;}
		

ul.ul_numbers {
	padding-left:0px;
	margin-left:0px;
	list-style-type:none;}	

ul.ul_numbers li {
	padding-top:6px;
	padding-left:36px;}		
		
li.li_number1  {
	background:transparent url(../images/typography/s5_li_number1.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number2  {
	background:transparent url(../images/typography/s5_li_number2.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number3  {
	background:transparent url(../images/typography/s5_li_number3.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number4  {
	background:transparent url(../images/typography/s5_li_number4.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number5  {
	background:transparent url(../images/typography/s5_li_number5.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number6  {
	background:transparent url(../images/typography/s5_li_number6.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number7  {
	background:transparent url(../images/typography/s5_li_number7.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number8  {
	background:transparent url(../images/typography/s5_li_number8.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

li.li_number9  {
	background:transparent url(../images/typography/s5_li_number9.png) no-repeat top left;
	padding-top:8px;
	padding-bottom:22px;
	list-style-type:none;
	padding-right:18px;
	padding-left:40px;
}

	
.red_box {
	background:#FFD6D6;
	border-top:solid 1px #EF706F;
	border-bottom:solid 1px #EF706F;
	color:#CC0000;
	padding:13px;
}

.blue_box {
	background:#D0DCEC;
	border-top:solid 1px #5B95DA;
	border-bottom:solid 1px #5B95DA;
	color:#1B6FC2;
	padding:13px;
}

.green_box {
	background:#EEF7DD;
	border-top:solid 1px #B0CB79;
	border-bottom:solid 1px #B0CB79;
	color:#8DCB0E;
	padding:13px;
}

.orange_box {
	background:#FEF6D8;
	border-top:solid 1px #FDE179;
	border-bottom:solid 1px #FDE179;
	color:#A38106;
	padding:13px;
}

.yellow_box {
	background:#F4F5B9;
	border-top:solid 1px #EFF11E;
	border-bottom:solid 1px #EFF11E;
	color:#9FA112;
	padding:13px;
}

.gray_box {
	background:#f1f1f1;
	border-top:solid 1px #9D9D9D;
	border-bottom:solid 1px #9D9D9D;
	color:#4B4B4B;
	padding:13px;
}

.black_box {
	background:#333333;
	border-top:solid 1px #4D4D4D;
	border-bottom:solid 1px #4D4D4D;
	color:#FFFFFF;
	padding:13px;
}

.boxed:hover {
	cursor:pointer;
	border:2px solid #cccccc;
}


	
.boxed {
	border:2px solid #ffffff;
}

.padded {
	padding-right:10px;
	padding-bottom:10px;}



img.portfolio {
	background:#000000;
	opacity:0.7;
	padding:4px; }
	

		
	img.portfolio:hover {
		cursor:pointer;
		opacity:1; }
	

	