/* -------------------- MAIN MENU ------------------- */

#s5_navv ul li {
	margin-left:0px;	}

#s5_navv a {
	color:#ffffff;
	cursor:pointer;
	display:block;
	float:left;
	font-size:16px;
	font-weight:normal;
	height:68px;
	line-height:17px;
	margin-left:6px;
	margin-top:0;
	overflow:hidden;
	padding-left:3px;
	padding-right:3px;
	padding-top:23px;
	text-decoration:none;
	text-shadow:1px 1px #2e2e2e;}

#s5_navv a span {
	display:block;
	color:#bbcc00;
	font-weight:normal;
	font-size:9px;}

#s5_navv li li a {
	margin-left:0px;
	line-height:35px;
	margin-top:0px;}

#s5_navv li li a {
	height: 32px;}

#s5_navv li li {
     text-align: left;
     width: 233px; }

#s5_navv ul li ul li a {
	font-size:12px; 
	line-height:28px;
	font-weight: normal; 
	margin-left:-2px;
	width:225px; }

#s5_navv ul li a {
	background: none; }

#s5_navv ul li li.lastitem a:hover {
	background:transparent url(../images/Shape5_University_ddmiddle.png) repeat-x scroll 1px 0;
	color:#000000; } 

#s5_navv ul li a.parent:hover, #s5_navv ul li ul li a.parent:hover  {
	color:#ffffff;	
	width:203px;
	background:transparent; }

#s5_navv ul li ul li {
	width:203px;
	background:transparent url(../images/Shape5_University_ddmiddle.png) repeat-x scroll 0 0px; }

#s5_navv ul li ul li:hover, #s5_navv ul li ul li.over {
	background:transparent url(../images/Shape5_University_ddmiddle.png) repeat-y 0px 0px; }
	 
#s5_navv {
	position:relative;
	z-index:12;
	height: 30px;}

#s5_navv li li a{
	background: none;
	font-weight: normal;
	padding: 0;
	text-indent: 18px;}

#s5_navv, #s5_navv ul {
	list-style: none;
	padding:0px 0px 0;}

	#s5_navv ul {
		float:left;}

#s5_navv ul ul a {
	display: block;
	text-decoration: none;
	width: 233px;
	text-transform: none;}

#s5_navv li {
	float: left;
	padding: 0;
	margin-right:0px;
	background: none;
	height: 51px;}

#s5_navv li li{
	float: left;
	padding: 0;
	background: none;
	height:32px;
	padding-top:0px;}

#s5_navv ul li {
	position: relative;}

#s5_navv li ul {
	top: 59px;
	position: absolute;
	left: -999em;
	height: auto;
	width:  233px;
	border-width: 0;
	margin: 0;
	padding: 0;
	margin-left:1px;
    z-index: 2;}

#s5_navv li ul a {
	font-weight: bold;
	color:#FFFFFF;}
	
#s5_navv ul {
	padding: 0;
	margin: 0;
	margin:-9px 0 0;}

#s5_navv li ul ul {
	width:230px;
	margin: -70px 0 0 200px;}

* html #s5_navv li ul ul {
	margin: -74px 0 0 200px;}


#s5_navv li:hover ul ul, 
#s5_navv li:hover ul ul ul,
#s5_navv li:hover ul ul ul ul,  
#s5_navv li.sfhover ul ul, 
#s5_navv li.sfhover ul ul ul, 
#s5_navv li.sfhover ul ul ul ul {
	left: -999em;}

#s5_navv li:hover ul, 
#s5_navv li li:hover ul, 
#s5_navv li li li:hover ul, 
#s5_navv li li li li:hover ul,
#s5_navv li.sfhover ul, 
#s5_navv li li.sfhover ul, 
#s5_navv li li li.sfhover ul,
#s5_navv li li li li.sfhover ul{
	left: 0;
    position: absolute;}


#s5_navv li:hover ul, #s5_navv li.sfhover ul {
	left: 0;
	background-position: 0 0;}


#s5_navv ul li:hover, #s5_navv ul li.over  {
	background:transparent;
	color:#000000;}

#s5_navv li:hover span a, #s5_navv li.over span a, #s5_fm_ul0 li:hover span a, #s5_fm_ul0 li.over span a {
	color:#ffffff;}
	
	#s5_navv ul li:hover ul li span span a, #s5_navv ul li.over ul li span span a{
	color:#ffffff;}
	
		#s5_navv ul li ul li:hover ul li span span a, #s5_navv ul li ul li.over ul li span span a{
			color:#ffffff;}
				
				#s5_navv ul li ul li ul li:hover ul li span span a, #s5_navv ul li ul li ul li.over ul li span span a{
					color:#ffffff;}
	
		#s5_navv ul li ul li:hover span span a, #s5_navv ul li ul li.over span span a{
			color:#ffffff;}
	
			#s5_navv ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li.over span span a{
				color:#ffffff;}
				
				#s5_navv ul li ul li ul li ul li:hover span span a, #s5_navv ul li ul li ul li ul li.over span span a{
					color:#ffffff;}

#s5_navv ul li.active a {
	background:transparent url(../images/Shape5_University_menumiddle.png) repeat-x scroll left 1pt;
    color:#ffffff;
	text-shadow:1px 1px #af7d10;}
	

#s5_navv ul li:hover a, #s5_navv ul li.over a{
	background:transparent url(../images/Shape5_University_menumiddle.png) repeat-x scroll left 1pt;
	color:#ffffff;
	text-shadow:1px 1px 1px #af7d10;}

	
	#s5_navv ul li:hover ul li a, #s5_navv ul li.over ul li a{
		background:transparent; 
	    color:#ffffff;}
		
	#s5_navv ul li ul li:hover a, #s5_navv ul li ul li.over a{
	    color:#ffffff;
		width:230px;}	
		
#s5_navv li.active span.s5_outer_active, #s5_navv span.s5_outer_active:hover, #s5_navv ul li:hover span.s5_outer_active {
background:transparent url(../images/Shape5_University_menuleft.png) no-repeat scroll 0 1pt;
height:77px;}

#s5_navv ul li span.s5_outer {
	height:77px;}

	#s5_navv ul li:hover span.s5_outer {
		height:77px;
		background:transparent url(../images/Shape5_University_menuleft.png) no-repeat scroll 0 1pt;}

#s5_navv ul li span.s5_outerr {
	height:77px;
	width:12px;
	float:left;}		
		
	#s5_navv ul li:hover span.s5_outerr, #s5_navv ul li a.active:hover span.span_active, #s5_navv ul li.active span.s5_outerr  {
		height:77px;
		width:15px;
		float:left;
		background:transparent url(../images/Shape5_University_menuright.png) no-repeat scroll 0 1pt;}
		
		
	#s5_navv ul li span.s5_outerr, #s5_navv ul li a.active span.span_active, #s5_navv ul li.active span.s5_outerr  {
		height:77px;
		width:15px;}

		#s5_navv ul li ul li:hover span.span_active {
			background:none;}

#s5_navv span.span_active, #s5_navv span.span_active:hover {
	height:53px;
	width:6px;
	float:left;
	background:transparent url(../images/Shape5_University_menuright.png) no-repeat scroll 0 1pt;
}

#s5_navv ul li ul li span.span_active, #s5_navv ul li ul li span.span_active:hover {
	height:29px;}

.s5_outer, .s5_outer_active {
	display:block;
	height:32px;
	float:left;}
	 
#s5_navv a span:hover, #s5_navv li:hover a span, #s5_navv li.active span, #s5_navv li.over a span{
	color:#ffffff;
} 
	
#s5_navv ul li li:hover span, #s5_navv ul li li.over span, #s5_fm_ul0 ul li li:hover span, #s5_fm_ul0 ul li li.over span {
	background:none;
	color:#FFFFFF;}

#s5_navv ul li li span.span_active, #s5_fm_ul0 ul li li span.span_active {
	background:none;}

/* Rounded menu top/bottoms */

#s5_navv ul li.s5_menutop, #s5_navv ul li.s5_menutop:hover {
	height:9px;
	line-height:25px;
	width:203px;
	background:transparent url(../images/Shape5_University_ddtop.png) no-repeat scroll 0 0;}
	
#s5_navv ul li.s5_toparrow, #s5_navv ul li.s5_toparrow:hover {
	height:9px;
	line-height:25px;
	width:203px;
	background:transparent url(../images/Shape5_University_ddtop.png) no-repeat scroll 0 0;}
		
#s5_navv ul li.s5_menubottom, #s5_fm_ul0 ul li.s5_menubottom, #s5_navv ul li.s5_menubottom:hover, #s5_fm_ul0 ul li.s5_menubottom:hover {
	background:transparent url(../images/Shape5_University_ddbottom.png) no-repeat scroll 0 0;
	height:17px;
	line-height:25px;
	border-bottom:none;
	margin-left:-1px;
	width:204px;}
	
#s5_navv .s5_bigicon {	
	height:40px;
	width:45px;
	float:left;
	margin-top:7px;
	display:block;}

#s5_navv .s5_smallicon {	
	display:block;
	float:left;
	height:16px;
	margin-left:16px;
	padding-left:16px;
	margin-right:-23px;
	margin-top:7px;
	width:16px;}
