body {

	font-family:Century;

	font-size:14px;

	margin:0;

	color:#393939; }

body.contentpane, body.mceContentBody {

	color:#000000;

	font-family:arial;

	font-size:12px;

	background:#FFFFFF; }

/* Normal link */

a  {

	text-decoration: none;

	color:#000000; }

a:hover, a:focus  {

	color:#000000;

	text-decoration:underline; }

img, fieldset  { border:none; }

h1  { font-size:22px; color:#000000;margin:0;padding:0;}

h2  { font-size:21px; color:#000000;font-weight:normal;margin:0;padding:0;}

h3  { font-size:16px;font-weight:normal;margin:0;padding:0;}

h4  { font-size:15px; color:#000000;font-weight:bold;margin:0;padding:0;}

h5  { font-size:14px; color:#000000;margin:0;padding:0;}

p  {

    padding-left:0px; 

	margin-left:0px;}

ul li  {

	padding-left: 0px;

	font-size:12px;

	}


ol  {

	margin-top: 5px;

	padding-left: 13px;

	margin-bottom: 5px; }


ol li  {

	margin-left: 5px; }


th  {

	padding: 4px;

	font-weight: bold;

	text-align: left; }

fieldset  {

	border: none; }


fieldset a  {

	font-weight: bold; }

a img  {

	border: none; }


/* FORM

--------------------------------------------------------- */

form  {

	margin: 0;

	padding: 0; }


textarea  {

	font-size:13px;

	padding-left: 2px; }


.inputbox, .registration input, .login input, .contact-form input, #jform_contact_message, #mod-search-searchword, input, textarea {

	padding:4px;	

	border:1px solid #cccccc;	

	color:#000000;}

select  {

	padding:0px;

	font-size: 12px; }


#search_searchword {

	width:180px; }

#search_ordering {

	background:#FFFFFF;}	

.s5_ls_top_bar, .s5_ls_bottom_bar {

background:url(../images/s5_lsearch_topbot.png) repeat-x;}


/* JOOMLA STYLE

--------------------------------------------------------- */

table.blog  {

}

table.blog .article_seperator  {

	display: block;

	height: 10px; }


table.contentpane  {

    border-collapse:collapse;

	border-spacing:0px;

	margin:0px;

	padding:0px;

 }


table.contentpaneopen, table.contentpane, table.blog {

	width:100% }


table.contentpaneopen  {

	width:100%;}

table.contenttoc  {

	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%; }

table.contenttoc a  {

	text-decoration: none; }


table.contenttoc td  {

	padding: 1px 5px 1px 25px; }


table.contenttoc th  {
	padding: 4px;

	background: #2F2F2F;

	color: #FFFFFF;

	text-indent: 5px;

	border: 1px solid #3F3F3F; }

table.poll  {

	padding: 0;

	width: 100%;

	border-collapse: collapse; }


table.pollstableborder  {

	padding: 0;

	width: 100%;

	border: none;

	text-align: left; }


table.pollstableborder img  {

	vertical-align: baseline; }


/* Poll Module */

.s5_radiobutton {	

	padding-left:23px;

	cursor:pointer;

	line-height:25px;

	padding-left:27px;

	padding-top:2px;

	padding-bottom:2px;

	background: url(../images/radiobutton.png) no-repeat;}


.s5_radiobutton_active {

	padding-left:23px;

	cursor:pointer;

	line-height:25px;

	padding-left:27px;

	padding-top:2px;

	padding-bottom:2px;

	background:transparent url(../images/radiobutton.png) no-repeat scroll 0px -36px;}


	.s5_radiobuttonnv {

		display:none;}


table.searchintro  {

	padding: 10px 0;

	width: 80%; }


 /*Control the Frontend Editor area width*/

table.adminform  {

	width: 400px!important; }


.adminform .inputbox  {

}


.blog_more  {

	margin: 10px 0; }


.blog_more strong  {

	margin: 0 0 5px;

	padding-left: 13px;

	display: block;

	color: #606060;

	text-transform: uppercase; }


td.buttonheading  {

	padding: 0 0 0 3px!important; }



.category  {

	font-weight: bold; }



.clr  {

	clear: both; }


td {

padding-left:0px;

padding-right:5px;

padding-bottom:5px;}


input[type="radio"] {

margin-left:0px;}	


.componentheading  {

	font-size: 18px;

	line-height:23px;

	padding-bottom:14px;

	font-weight:normal; }


.contentheading  {

	font-size:16px;

	text-shadow:1px 1px #ffffff;

	font-weight:normal;

	color:#454545;

	line-height:normal; }



a.contentpagetitle  {

	text-decoration: none!important;

	font-size:16px;

	text-shadow:1px 1px #ffffff;

	color: #454545; }


a.contentpagetitle:hover,

a.contentpagetitle:active,

a.contentpagetitle:focus  {

	text-decoration: none!important;

	color: #000000; }


.createdate  {

    padding-bottom:11px;

	font-size:11px;

	padding-top:5px;

	line-height: 10px;

	font-weight: bold; }


.modifydate  {

	color: #7E7E7E;

	font-size:11px;

	height: 32px; }


.moduletable  {

	padding: 0; }


.mosimage  {

	padding: 0;

	border:1px solid #CCCCCC;

	background:#ffffff;

	margin:6px;	}


.mosimage img  {

	padding: 0;

	margin: 0!important; }

	

.mosimage_caption {

	background:#EFEFEF none repeat scroll 0%;

	border-top:1px solid #CCCCCC;

	color:#666666;

	font-size:10px;

	margin-top:2px;

	padding:1px 2px;}



.pagenav,

.pagenav_prev,

.pagenav_next,

.pagenavbar  {

	padding:7px 2px; }



a.pagenav,

.pagenav_prev a,

.pagenav_next a,

.pagenavbar a  {

	text-decoration: none; }

a.pagenav:hover, a.pagenav:active, a.pagenav:focus,

.pagenav_prev a:hover, .pagenav_prev a:active, .pagenav_prev a:focus,

.pagenav_next a:hover, .pagenav_next a:active, .pagenav_next a:focus,

.pagenavbar a:hover, .pagenavbar a:active, .pagenavbar a:focus  {

	text-decoration: none; }

.pagenavbar  {

	padding-left: 14px; }

.pagenavcounter  {

	padding: 8px 14px 0 14px; }

.sectiontableheader  {

	border-bottom:1px dotted #cccccc;

	color:#000000;

	font-weight:bold;

	padding:5px 0; }

tr.sectiontableentry1 td  {

	padding: 5px; }

tr.sectiontableentry2 td  {

	padding: 5px; }

.small  {

	font-size:11px;

	font-style:italic;

	color:#333333;}

.smalldark  {

	text-align: left; }

div.syndicate div  {

	text-align: center; }

.pollstableborder tr.sectiontableentry1 td,

.pollstableborder tr.sectiontableentry2 td  {

	background: none; }

.button:hover, .button:focus {

	color:#cccccc;

	cursor:pointer;}

.button {

	border:medium none;

	color:#FFFFFF;

	font-size:13px;

	height:26px;

	padding:3px 11px 5px;

	text-shadow:1px 1px #000000;

	width:101px;

	background: url(../images/Shape5_University_readmore.png) no-repeat;} 

/* DEFAULT MENU

----------------------------------------------------------- */

ul.menu li a,ul.menu-mainmenu li a, a.mainlevel  {

	color:#3e3e3e;

	display:block;

	line-height:10px;

	font-size:14px;

	margin:0 0 0 1px;

	text-shadow:1px 1px #FFFFFF;

	padding:9px 19px;

	text-decoration:none;
 }


 ul.menu-mainmenu li a, a.mainlevel  {

 background:transparent url(../images/arrow.png) no-repeat scroll left ;

 }


ul.menu li a:hover,ul.menu-mainmenu li a:hover, a.mainlevel:hover  {

	text-decoration:underline; }

ul.menu li, ul.menu-mainmenu li, #mainlevel li {

	padding-left:0px;

	padding-right:0px;

	list-style-image:none;

	list-style-position:outside;

	list-style-type:none;

	background: url(../images/Shape5_University_arrow.png) no-repeat scroll 0 11px; }


a.sublevel  {

     display:block;

     padding:3px 3px 3px 14px; }


a.sublevel:hover {

     text-decoration: underline; }


a.mainlevel:hover {

	text-decoration:none;}


ul.menu, ul.menu-mainmenu {

	margin:0px;

	padding:0px;}


ul.menu li#current, ul.menu li#current a, div.s5_accordion_menu_element li#current {

	font-style:italic;}


div.s5_accordion_menu_element li#current a {

color:#000000;}



#s5_accordion_menu {

	margin-top:10px;

	margin-bottom:0px;

	margin-right:0px;

	margin-left:0px; 

}


#s5_accordion_menu h3.s5_am_toggler {

	cursor: pointer;

	font-size: 13px;

	background: #ffffff url(../images/s5_accordion_menu_back.png)  no-repeat scroll right 0px;

	color: #528CE0;

	height:26px;

	font-weight:bold;

	line-height:31px;

	margin:-4px -14px 4px;

	padding-left:24px;

	text-shadow:1px 1px #ffffff;	}


	* html #s5_accordion_menu h3.s5_am_toggler {

		padding-bottom:0px;}


#s5_accordion_menu h3.s5_am_open {

	background: #ffffff url(../images/s5_accordion_menu_back.png)  no-repeat scroll right -38px;}


#s5_accordion_menu h3.s5_am_toggler div {

	height:23px;

	margin:0px;

	padding:0px;	}


#s5_accordion_menu h3.s5_am_toggler a.mainlevel {	

	background:none;

	line-height:40px;

	width:auto;

	display:inline;

	border:none;

	padding:0px;

	margin:0px;	}


#s5_accordion_menu h3.s5_am_not_parent {

background:transparent url(../images/s5_accordion_menu_back_bnk.png) repeat-x scroll right top;

cursor:pointer;

height:26px;

line-height:31px;}	


div.s5_accordion_menu_element li {	

	list-style-image:none;

	list-style-position:outside;

	list-style-type:none;

	padding-left:25px;	}


div.s5_accordion_menu_element li a {	

	font-size:12px;	}


	* html div.s5_accordion_menu_element li a {	

		width:75%;}


ul.s5_am_innermenu {

	margin-bottom:5px;

	padding-left:0px;

	margin-left:0px;

	margin-top:0px;	}


	ul.s5_am_innermenu ul.s5_am_innermenu {

		padding-left:26px;}


#s5_accordion_menu h3 span img {

	padding-top:7px;

	padding-right:8px;}


/* MISCELLANOUS

----------------------------------------------------------- */

ul.menu-menu li {

	border-bottom:1px dotted #CCCCCC;

	list-style:none;

	line-height:29px;

	margin-left:-37px;}


ul.menu-menu li a {

	padding-left:7px;} 


.back_button {

	height:37px;

	padding-top:26px;}


div.back_button a,

div.back_button a:active  {

	margin: -2px 0;

	display: block;

	height:37px;

	color:#000000;

	font-size:12px;

	font-weight:bold;

	background: none!important;

	text-decoration: none!important; }


div.back_button a:hover,

div.back_button a:active  {

	margin: -2px 0;

	display: block;

	height:37px;

	color:#606060;

	background: none!important;

	text-decoration: none!important; }


/* Firefox Scrollbar Hack*/

html  {

	margin-bottom: 1px;

	height: 100%!important;

	height: auto; }


/* Typography

--------------------------------------------------------- */	


img.solid {

	border:1px solid #999999;

	margin:5px 0pt 2px 2px;

	padding:1px; }

	
img.dashed {

	border:1px #999999 dashed;

	margin:5px 0pt 2px 2px;

	padding:1px; }


.introletter {

	color:#000000;

	display:block;

	float:left;

	font-size:40px;

	font-style:normal;

	font-weight:normal;

	line-height:30px;

	padding:4px 8px 0pt 0pt; }


blockquote {

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:1.3em;

	font-style:italic;

	font-weight:normal;

	line-height:1.5;

	padding:6px 45px; }


a.readon {

	background:transparent url(../images/Shape5_University_readmore.png) no-repeat;

	display:block;

	float:right;

	font-size:13px;

	font-weight:normal;

	height:30px;

	width:94px;

	color:#ffffff;

	padding:7px 0 0 11px;

	text-decoration:none;}


a.readon:hover, a.readon:active, a.readon:focus  {

    color:#666666;	

	text-decoration:none;}


/*  Default Login */


fieldset.input p {

	margin:0;

	padding:0;}

	
form.form-login ul li {

	border:medium none;

	color:#909090;

	font-size:11px;

	height:22px;

	line-height:24px;

	list-style-image:none;

	list-style-position:outside;

	list-style-type:none;

	margin-left:-31px;

	}	


form.form-login ul li a {

	color:#909090;

	padding-top:1px;

	padding-bottom:1px;

	background:transparent url(../images/Shape5_loginarrow.png) no-repeat scroll left center;

	padding-left:23px;	}


	form.form-login ul li a:hover {

		color:#000000;

		text-decoration:none;}


	.inputbox:hover, .inputbox:focus  {

		border:1px solid #000000; }	


	.modlgn_username {

		border:1px solid #f0f0f0;

		height:19px;

		margin-bottom:10px;

		margin-top:3px;

		padding:4px 7px;

		width:94%;} 


	.modlgn_username:hover, .modlgn_passwd:hover {

		border:1px solid #000000;}


	.modlgn_passwd {

		border:1px solid #f0f0f0;

		height:19px;

		margin-bottom:10px;

		margin-top:3px;

		padding:4px 7px;

		width:94%;} 


.form-login .button {

	height:26px;

	width:101px;

	line-height:23px;

	color:#ffffff;

	margin-top:19px;

	text-decoration:none;

	background: url(../images/Shape5_University_readmore.png) no-repeat;} 


	.form-login .button:hover {

		color:#000000;}	


/* --------------------- Layout ----------------------- */

#s5_topbar {

	height:5px;

	width:100%;

	background: url(../images/Shape5_University_toprepeat.png) repeat;} 


#s5_logo {

	float:left;

	height:85px;

	margin-bottom:15px;

	margin-left:0;

	margin-top:14px;

	width:418px;

	background: url(../images/Shape5_University_logo.png) no-repeat;} 


#s5_menuback{	

	height:59px;

	background: url(../images/Shape5_University_menuback.png) repeat-x;} 


#s5_wrapback {	

	height:59px;

	background: url(../images/Shape5_University_glow.png) no-repeat scroll center 0px;} 


	#s5_logregtl {

		width:6px;

		float:right;

		height:35px;

		background: url(../images/Shape5_University_tlsearch.png) no-repeat;} 


	#s5_logregtm {

		padding-left:13px;

		padding-right:8px;

		line-height:15px;

		color:#FFFFFF;

		height:35px;

		font-size:12px;

		float:right;

		background: url(../images/Shape5_University_tmsearch.png) repeat-x;} 	


	#s5_logregsep {

		height:26px;

		width:2px;

		float:left;} 	


		#s5_login {

			padding-right:5px;

			cursor:pointer;

			text-shadow:1px 1px #000000;

			float:left;}

			#s5box_login .module {

				padding-top:10px;}

			#s5box_login h3 {

				padding-bottom:11px;

				padding-left:10px;}

		#s5_register {

			padding-right:5px;

			text-shadow:1px 1px #000000;

			cursor:pointer;

			float:left;}		


			#s5box_register .module {

				padding-top:10px;

				padding-left:15px;}

		ul.s5boxmenu {

			padding:0px;

			margin:0px;

			margin-top:-1px;}


		.s5boxmenu li {

			list-style-image:none;

			list-style-position:none;

			list-style-type:none;}


		.s5boxmenu li span span {

			height:14px;

			line-height:15px;

			padding:6px 8px;}


		.s5boxmenu li span {

			display:block;

			margin-left:3px;

			padding-bottom:3px;

			padding-right:6px;

			padding-top:3px;}
		

		.s5boxmenu li:hover span {

			background: url(../images/Shape5_University_trsearchh.png) no-repeat right;} 		


		.s5boxmenu li:hover span span {

			background: url(../images/Shape5_University_tmsearchh.png) repeat-x;} 	


		.s5boxmenu li:hover{

			background: url(../images/Shape5_University_tlsearchh.png)  no-repeat 1px 3px;} 		


	#s5_logregtr {

		width:5px;

		height:35px;

		float:right;

		background: url(../images/Shape5_University_trsearch.png) no-repeat;} 	


#s5_rss {

	width:23px;

	height:24px;

	cursor:pointer;

	margin-top:19px;

	float:right;

	background: url(../images/Shape5_University_rssicon.png) no-repeat;} 	


#s5_menu {

	float:left;}

	
#s5_search {

	text-shadow:1px 1px #ffffff;

	line-height:15px;

	float:right;}


	#s5_topgradsearch {

		height:33px;

		margin-left:6px;

		margin-top:3px;

		padding-bottom:5px;

		padding-left:12px;

		float:right;

		width:189px;

		background: url(../images/Shape5_University_searchback.png) no-repeat;} 	


	#mod-search-searchword {

		background:transparent none repeat scroll 0 0;

		border:medium none;

		color:#000000;

		font-size:12px;

		height:20px;

		margin-top:-5px;	

		padding-left:15px;

		padding-top:1px;

		width:198px;}


#s5_topgradient {	

	padding-top:35px;

	background: url(../images/Shape5_University_topgradient.png) repeat-x top;} 			


#s5_bottomgradient {	

	padding-bottom:20px;

	background: url(../images/Shape5_University_bottomgradient.png) repeat-x bottom;} 		


	#s5_topgradient_back {

	background: url(../images/Shape5_University_topbackpixel.png) repeat;} 	


.s5_roundedtl {

	margin-top:28px;

	background:transparent url(../images/Shape5_University_tlround.png) no-repeat;}


.s5_roundedtr {

	padding:0 8px;

	background:transparent url(../images/Shape5_University_trround.png) no-repeat right;}	


.s5_roundedtm {

	height:8px;

	background:transparent url(../images/Shape5_University_tmround.png) repeat-x;}		


.s5_roundedml {

	background:transparent url(../images/Shape5_University_mlround.png) repeat-y;}


.s5_roundedmr {

	padding:0px;

	background:transparent url(../images/Shape5_University_mrround.png) repeat-y right;}	


.s5_roundedmm {

	background:#FFFFFF none repeat scroll 0 0;

	margin-left:5px;

	margin-right:5px;

	overflow:hidden;

	padding:0px;}			


.s5_roundedbl {

	margin-bottom:28px;

	background:transparent url(../images/Shape5_University_blround.png) no-repeat;}


.s5_roundedbr {

	padding:0 8px;

	background:transparent url(../images/Shape5_University_brround.png) no-repeat right;}	


.s5_roundedbm {

	height:8px;

	background:transparent url(../images/Shape5_University_bmround.png) repeat-x;}				


#s5_bottompositions {

	margin-bottom:27px;

	margin-top:-1px;

	text-shadow:1px 1px #FFFFFF;

	background:#ffffff url(../images/Shape5_University_bottommodgradient.png) repeat-x bottom;}


#s5_bottompositionsgrad {

	border-left:1px solid #d1d1d1;

	border-right:1px solid #d1d1d1;

	background:#f1f0f0 url(../images/Shape5_University_bottommodgradient.png) repeat-x bottom;}


.s5_calendar {

	float:left;

	height:25px;

	margin-top:12px;

	position:absolute;

	width:25px;

	background:transparent url(../images/calendar.png) no-repeat;}

.s5_calendar_title {

	font-size:12px;

	font-weight:bold;}

.s5_calendar_descp {

	float:left;

	margin-top:12px;

	font-size:12px;

	margin-left:37px;}


#s5_advertwrap {

	margin-left:10px;

	margin-right:19px;}	


.s5_toptl {

	margin-top:15px;

	background:transparent url(../images/Shape5_University_wmtl.png) no-repeat;}

.s5_toptr {

	padding:0 5px;

	background:transparent url(../images/Shape5_University_wmtr.png) no-repeat right;}

.s5_toptm {

	height:5px;

	background:transparent url(../images/Shape5_University_wmtm.png) repeat-x;}

.s5_topml {

	background:transparent url(../images/Shape5_University_wmml.png) repeat-y;}

.s5_topmr {

	padding:0px;

	background:transparent url(../images/Shape5_University_wmmr.png) repeat-y right;}	

.s5_topmm {

	background:#f8f8f8 none repeat scroll 0 0;

	margin-left:5px;

	margin-right:5px;

	overflow:hidden;

	padding:0px;}

.s5_topbl {

	margin-bottom:28px;

	background:transparent url(../images/Shape5_University_wmbl.png) no-repeat;}

.s5_topbr {

	padding:0 5px;

	background:transparent url(../images/Shape5_University_wmbr.png) no-repeat right;}	

.s5_topbm {

	height:4px;

	background:transparent url(../images/Shape5_University_wmbm.png) repeat-x;}

.s5_leftset50 {

	float:left;

	width:50%;}

.s5_rightset50 {

	float:left;

	width:49.5%;}

.s5_leftset100 {

	width:100%;}

.s5_rightset100 {

	width:100%;}	

		
#s5_topmenu {

	margin-top:0px;

	float:right;}


#s5_nicewrap_inner h3 {

	color:#ffffff;

	text-shadow:1px 1px #000000;

	padding-bottom:12px;}


	#s5_topmenu ul {

		height:35px;

		padding:0;

		margin-left:0px;

		float:right;

		margin-top:0;

		margin-bottom:0px;}


	#s5_topmenu ul li {

		border-right:1px solid #FFFFFF;

		float:left;

		height:11px;

		list-style-image:none;

		list-style-position:outside;

		list-style-type:none;

		margin-right:0;

		margin-top:0;

		padding-bottom:8px;

		padding-top:0;}

		
	#s5_topmenu ul li a {

		background:none;

		padding:10px 10px;

		color:#ffffff;

		text-shadow:1px 1px #000000;

		font-size:12px;}


	#s5_topmenu ul li a:hover {

		text-decoration:underline;}

	#s5_abovebody_static {

		padding:0px 9px;} 	


#s5_belowbodygrad{

	height:25px;

	width:100%;}

#s5_bottomusers {

	width:100%;} 


	#s5_bottomusers_inner {

	width:100%;

	margin-top:1px;} 


#s5_bodygradient {	

	padding-left:18px;}

#s5_bodygradientnoin{	

	padding-left:12px;

	padding-right:12px;

	padding-bottom: 2px;}

	#s5_abovebodyusers {

		margin-bottom:1px;}

	#s5_logofooter {

		float:right;

		margin-top:13px;} 

#s5_iconsearch {

	width:254px;

	margin-right:0;

	float:right;}

#s5_menubar {

	height:63px;

	width:100%;

	margin-bottom:30px;} 


#s5_breadcrumbs {

	font-size:12px;

	height:45px;

	margin-bottom:0;

	width:100%;}

	#s5_breadcrumbsinner {

		line-height:22px;

		padding-left:14px;}

		#s5_breadcrumbsinner a {

			color:#000000;}
	

.s5_toplefrig, .s5_w_modwrap {

	margin-bottom:1px;}

.s5_backmiddlemiddle {

	margin-left:25px;}

.s5_b_modwrap   {

	text-align:justify;}

#s5_mainbodyfullw {

	color:#000000;

	margin-top:15px;

	text-shadow:1px 1px #ffffff;

	width:200%;}


#s5_mainbodywrapper {

	float:left;

	left:50%;

	position:relative;

	width:50%;} 	

#s5_mainbody {

	left:-100%;

	overflow:hidden;

	position:relative;}

#s5_mainbodybread {

	left:-100%;

	overflow:hidden;

	position:relative;

	margin-top:1px;

	background: transparent;

	margin-bottom:20px;}
	

#s5_mainbodywrap {

	width:100%;}

	#s5_inset h3 {

		margin:4px 0 0px;}
	

	#s5_leftcolumn {

		padding-right:13px;

		float:left;

		left:-50%;

		overflow:hidden;

		position:relative;}

		#s5_leftcolumn h3 {

			font-size:16px;

			color:#3a3a3a;

			padding-bottom:12px;}

	#s5_mainbodywrap {

		padding-top:20px;

		float:left;}

	#s5_rightcolumn {

		margin-left:13px;

		float:left;}

		#s5_rightcolumn h3 {

			font-size:16px;

			padding-bottom:12px;}


.s5_wrap, .s5_wrap2  {

	margin:0 auto;}


.s5_backmiddlemiddle h3 .s5_h3_first {

	color:#454545;}
	

.s5_w_modwrap div.module h3, .s5_backmiddlemiddle div.module h3 {

	font-family:helvetica,arial;

	font-size:16px;

	font-style:normal;

	font-weight:normal;}


.s5_w_modwrap div.module, .s5_backmiddlemiddle div.module { 

	padding:0px;

	margin-left:0px;

    width: 100%;}



.s5_w_modwrap div.module div, .s5_backmiddlemiddle div.module div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module div div, .s5_backmiddlemiddle div.module div div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module div div div, .s5_backmiddlemiddle div.module div div div {

	padding:0px;

	margin:0px;

	padding:15px 24px 0 17px;

	z-index:0;

	width: auto;}


.s5_w_modwrap div.module div div div div, .s5_backmiddlemiddle div.module div div div div {

	margin: 0px;

	padding: 0px;}		


.s5_backmiddlemiddle div.module ul.menu li a, .s5_backmiddlemiddle div.module ul.menu li {

	border:none;

	margin-left:0px;}

	
.s5_backmiddlemiddle div.module ul.menu li a {

	line-height:13px;

	margin:0;

	padding:0px;

	text-decoration:none;

	width:100%;}


#s5_rightcolumn div.module h3, #s5_leftcolumn div.module h3 {

	font-size:19px;

	text-shadow:1px 1px #CCCCCC;

	margin-top:0px;

	padding-bottom:8px;}


#s5_rightcolumn div.module h3.s5_mod_h3, #s5_leftcolumn div.module h3.s5_mod_h3	{

	margin-top:8px;}


#s5_rightcolumn div.module, #s5_leftcolumn div.module { 

	padding:0px;

	margin-left:0px;

    width: auto;}


#s5_rightcolumn div.module div, #s5_leftcolumn div.module div {

	padding:0px;

	margin:0px;}


#s5_rightcolumn div.module div div, #s5_leftcolumn div.module div div {

	padding:0px;

	margin:0px;}


#s5_rightcolumn div.module div div div, #s5_leftcolumn div.module div div div {

	padding:0px;

	margin:0px;

	padding:0 10px 17px 5px;

	z-index:0;

	width: auto;}



#s5_rightcolumn div.module div div div div, #s5_leftcolumn div.module div div div div {

	margin: 0px;

	padding: 0px;

	background: none;}	

/* Main body */	

.s5_maincomponent_wrap_2 {

	height:35px;

	padding-left:14px;

	padding-top:9px;	}


.s5_maincomponent_wrap_1 {

	height:42px;

	margin-bottom:18px;}

.s5_backmiddlemiddle_r {

	margin-left:7px;

	margin-top:-5px;}

/* Adverts 4,5,6 */


.s5_whitemodsoutter div.module h3 {

	padding-bottom:26px;

	color:#000000;}


.s5_whitemodsoutter div.module { 

	padding:0px;

    width: 100%;

}

.s5_whitemodsoutter div.module div {

	padding:0px;

	margin:0px;

}

.s5_whitemodsoutter div.module div div {

	padding:0px;

	margin:0px;

}


.s5_whitemodsoutter div.module div div div {

	margin:0px;

	padding:17px;

	color:#000000;

	padding:2px 13px 16px 19px;

	position:relative;

	z-index:1;

	width: auto;

}


.s5_whitemodsoutter div.module div div div div {

	margin: 0px;

	padding: 0px;

	background: none;

}

/*******************default joomla menu with images, use "-img" on menu class suffix **********************/
/* Default Joomla! Menu */

a.mainlevel-img  {

	border-bottom:1px solid #CCCCCC;

	color:#000000;

	display:block;

	font-size:11px;

	font-style:normal;

	font-weight:normal;

	height:33px;

	line-height:31px;

	list-style-position:outside;

	list-style-type:none;

	margin-bottom:3px;

	margin-left:20px;

	padding-left:8px;

	text-decoration:none;}

#mainlevel-img li img {

    padding-top:8px;

	float:left;}



ul#mainlevel-img li{	

	padding-left:1px;}

a.mainlevel-img:hover,

a.mainlevel-img:active,

a.mainlevel-img:focus  {

	color:#000000;

	text-decoration:none;}



a.mainlevel-img#active_menu  {

	text-decoration: none;	 }



a.mainlevel-img:hover#active_menu  {

	text-decoration: none;	

	display: block; }



a.sublevel-img  {

	font-size:11px;

	background:none;

	padding: 2px 2px 2px 27px;

	text-decoration: none; }


a.sublevel:active,

a.sublevel:focus  {

	font-size:11px;

	text-decoration: none; }

a.sublevel-img:hover {

	color:#000000;

	font-size:11px;

	background:none;

	text-decoration: underline; }

	

#active_menu-img  {

	color:#000000;

	background:none; }

	

a.sublevel-img#active_menu  {

	background:none;

	text-decoration: underline;}


div.module-plain img {

	float:left;

	margin-left:0px;

	margin-top:8px;

	padding-right:3px;

	position:absolute;

	vertical-align:bottom;

	}	


	.s5_backmiddlemiddle ul  {

		margin-top:-6px;

		list-style-position:outside;

		list-style-type:none;}


	.s5_backmiddlemiddle ul li {

		font-size:12px;

		height:21px;

		line-height:13px;

		margin-left:-39px;

		padding-bottom:0;}

		.s5_backmiddlemiddle ul li a, .s5_backmiddlemiddle ul li:hover {

			color:#7d7d7d;	}
		
	.s5_backmiddlemiddle ul li:hover, .s5_backmiddlemiddle ul li a:hover {

		text-decoration:underline;

		color:#cccccc;}


#s5_positions {

	width:100%; }


	#s5_positions h3 {

		padding-bottom:5px;

		color:#000000;}


			#s5_user1_100 {

				padding-bottom:25px;

				float:left;

				width:100%;}


			#s5_user2_100 {

				padding-bottom:25px;

				float:left;

				width:100%;}


			#s5_user1_50 {

				padding-bottom:25px;

				float:left;

				width:49%;}


			#s5_user2_50 {

				padding-bottom:25px;

				float:left;

				width:49%;}	


		#s5_above_body_1_33 {

			float:left;

			width:33%;

			padding-right:4px;

			padding-bottom:0px; }


		#s5_above_body_2_33 {

			float:left;

			width:33%;

			padding-right:4px;

			padding-bottom:0px;}


		#s5_above_body_3_33 {

			float:left;

			width:33%;

			padding-bottom:0px;}


			#s5_above_body_1_50 {

				float:left;

				width:50%;

				padding-bottom:2px; }


			#s5_above_body_2_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


			#s5_above_body_3_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


				#s5_above_body_1_100 {

					width:100%;

					padding-bottom:0px; }


				#s5_above_body_2_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}
				

				#s5_above_body_3_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}		


		#s5_advert1_33 {

			float:left;

			width:33%;

			padding-bottom:0px; }


		#s5_advert2_33 {

			float:left;

			width:33%;

			padding-bottom:0px;}


		#s5_advert3_33 {

			float:left;

			width:33%;

			padding-bottom:0px;}


			#s5_advert1_50 {

				float:left;

				width:49.5%;

				padding-bottom:2px; }


			#s5_advert2_50 {

				float:left;

				width:49.5%;

				padding-bottom:2px;}


			#s5_advert3_50 {

				float:left;

				width:49.5%;

				padding-bottom:2px;}
				

				#s5_advert1_100 {

					width:100%;

					padding-bottom:0px; }


				#s5_advert2_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}


				#s5_advert3_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}
					

		#s5_advert4_33 {

			float:left;

			width:32%;

			padding-bottom:0px; }


		#s5_advert5_33 {

			float:left;

			width:32%;

			padding-bottom:0px;}


		#s5_advert6_33 {

			float:left;

			width:32%;

			padding-bottom:0px;}


			#s5_advert4_50 {

				float:left;

				width:50%;

				padding-bottom:2px; }

				
			#s5_advert5_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


			#s5_advert6_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


				#s5_advert4_100 {

					width:98%;

					padding-bottom:0px; }


				#s5_advert5_100 {

					float:left;

					width:98%;

					padding-bottom:0px;}


				#s5_advert6_100 {

					float:left;

					width:98%;

					padding-bottom:0px;}


	#s5_top4_33 {

			float:left;

			width:32%;

			padding-bottom:0px; }


		#s5_top5_33 {

			float:left;

			width:32%;

			padding-bottom:0px;}

		

		#s5_top6_33 {

			float:left;

			width:32%;

			padding-bottom:0px;}

			

			#s5_top4_50 {

				float:left;

				width:50%;

				padding-bottom:2px; }


			#s5_top5_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


			#s5_top6_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}



				#s5_top4_100 {

					width:98%;

					padding-bottom:0px; }


				#s5_top5_100 {

					float:left;

					width:98%;

					padding-bottom:0px;}


				#s5_top6_100 {

					float:left;

					width:98%;

					padding-bottom:0px;}					


		#s5_contentbottom1_33 {

			float:left;

			width:33%;

			border-right:1px solid #CCCCCC;

			padding-bottom:0px; }


		#s5_contentbottom2_33 {

			float:left;

			width:33%;

			border-left:1px solid #ffffff;

			border-right:1px solid #ffffff;

			background:#fafafa url(../images/Shape5_University_bottommodgradient.png) repeat-x scroll center bottom;

			padding-bottom:0px;}


		#s5_contentbottom3_33 {

			float:left;

			text-shadow:1px 1px #FFFFFF;

			width:33%;

			border-left:1px solid #CCCCCC;

			padding-bottom:0px;}

			

			#s5_contentbottom1_50 {

				float:left;

				width:50%;

				padding-bottom:2px; }


			#s5_contentbottom2_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}


			#s5_contentbottom3_50 {

				float:left;

				width:50%;

				padding-bottom:2px;}



				#s5_contentbottom1_100 {

					width:100%;

					float:left;

					padding-bottom:0px; }


				#s5_contentbottom2_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}


				#s5_contentbottom3_100 {

					float:left;

					width:100%;

					padding-bottom:0px;}					



.s5_userpositions {

	float:left;

	margin:0px;

	padding:0px;}

/* -white module style */

.module-white .s5_h3_first {

	color:#456896;	}

.module-white {

	margin-top:9px;

	margin-bottom:9px;}

.s5_moduletm-white h3.s5_mod_h3-white {

	line-height:47px;

	color:#343434;

	font-weight:normal;

	text-shadow:1px 1px #ffffff;

	padding-left:6px;}



.s5_moduletl-white {	

	margin-left:8px;

	margin-right:8px;

	background: url(../images/Shape5_University_lightmleft.png) no-repeat;} 


.s5_moduletr-white {	

	padding:0 7px;

	background: url(../images/Shape5_University_lightmright.png) no-repeat scroll right;} 


.s5_moduletm-white {	

	height:43px;

	background: url(../images/Shape5_University_lightmmiddle.png) repeat-x;} 	


	.s5_modulemm-white {	

		margin-left:5px;

		overflow:hidden;

		margin-right:5px;

		padding:14px 14px 14px;

		padding-top:20px;} 	


/* end -white module style */

/* -black module style */

.module-black .s5_h3_first {

	color:#cccccc;	}

.module-black {

	margin-top:9px;

	margin-bottom:9px;}

.s5_moduletm-black h3.s5_mod_h3-black {

	line-height:47px;

	color:#ffffff;

	font-weight:normal;

	text-shadow:1px 1px #000000;

	padding-left:6px;}

.s5_moduletl-black {	

	margin-left:8px;

	margin-right:8px;

	background: url(../images/Shape5_University_darkmleft.png) no-repeat;} 

.s5_moduletr-black {	

	padding:0 7px;

	background: url(../images/Shape5_University_darkmright.png) no-repeat scroll right;} 

.s5_moduletm-black {	

	height:44px;

	margin-bottom:13px;

	background: url(../images/Shape5_University_darkmmiddle.png) repeat-x;} 	

	.s5_modulemm-black {	

		margin-left:5px;

		overflow:hidden;

		padding:13px;

		margin-right:5px;

		padding-top:3px;} 	


/* end -black module style */
/* -chat module style */	

.s5_w_modwrap div.module-chat h3, .s5_backmiddlemiddle div.module-chat h3 {

	height:24px;

	padding-left:39px;

	padding-top:3px;

	background: url(../images/chat.png) no-repeat left;} 


.s5_w_modwrap div.module-chat, .s5_backmiddlemiddle div.module-chat { 

	padding:0px;

	margin-left:0px;

    width: 100%;}


.s5_w_modwrap div.module-chat div, .s5_backmiddlemiddle div.module-chat div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module-chat div div, .s5_backmiddlemiddle div.module-chat div div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module-chat div div div, .s5_backmiddlemiddle div.module-chat div div div {

	padding:0px;

	margin:0px;

	padding:15px 24px 0 17px;

	z-index:0;

	width: auto;}


.s5_w_modwrap div.module-chat div div div div, .s5_backmiddlemiddle div.module-chat div div div div {

	margin: 0px;

	padding: 0px;}		


.s5_modulebm-chat {

display: none;}



/* end -chat module style */
/* -note module style */

.s5_w_modwrap div.module-note h3, .s5_backmiddlemiddle div.module-note h3 {

	height:24px;

	padding-left:39px;

	padding-top:3px;

	background: url(../images/notes.png) no-repeat left;} 


.s5_w_modwrap div.module-note, .s5_backmiddlemiddle div.module-note { 

	padding:0px;

	margin-left:0px;

    width: 100%;}


.s5_w_modwrap div.module-note div, .s5_backmiddlemiddle div.module-note div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module-note div div, .s5_backmiddlemiddle div.module-note div div {

	padding:0px;

	margin:0px;}


.s5_w_modwrap div.module-note div div div, .s5_backmiddlemiddle div.module-note div div div {

	padding:0px;

	margin:0px;

	padding:15px 24px 0 17px;

	z-index:0;

	width: auto;}


.s5_w_modwrap div.module-note div div div div, .s5_backmiddlemiddle div.module-note div div div div {

	margin: 0px;

	padding: 0px;}		


/* end -note module style */
/* -box module style */

.module-box .s5_h3_first {

	color:#747474;	}


.module-box {

	text-shadow:none;

	padding-bottom:0px;

	padding-top:0px;}


.s5_moduletm-box h3.s5_mod_h3-box {

	line-height:49px;

	color:#343434;

	font-weight:bold;

	text-shadow:1px 1px #ffffff;

	padding-left:6px;}


.s5_moduletl-box {	

	background: url(../images/Shape5_University_modboxtl.png) no-repeat;} 


.s5_moduletr-box {	

	padding:0 14px;

	background: url(../images/Shape5_University_modboxtr.png) no-repeat scroll right;} 


.s5_moduletm-box {	

	height:14px;

	background: url(../images/Shape5_University_modboxtm.png) repeat-x;} 	


	.s5_moduleml-box {	

		background: url(../images/Shape5_University_modboxml.png) repeat-y left;} 	


	.s5_modulemr-box {	

		background: url(../images/Shape5_University_modboxmr.png) repeat-y right;} 		


	.s5_modulemm-box {	

		margin-left:5px;

		overflow:hidden;

		padding:0 7px;

		margin-right:5px;

		background:#ffffff;} 	


.s5_modulebl-box {	

	background: url(../images/Shape5_University_modboxbl.png) no-repeat;} 


.s5_modulebr-box {	

	padding:0 14px;

	background: url(../images/Shape5_University_modboxbr.png) no-repeat scroll right;} 


.s5_modulebm-box {	

	height:14px;

	background: url(../images/Shape5_University_modboxbm.png) repeat-x;} 


/* end -box module style */	

#s5_gradientusers h3 {

	padding-bottom:8px;

	padding-top:10px;

	text-shadow:1px 1px #cccccc;}


#s5_footergrad{

	height:40px;

	text-align:right;

	font-size:12px;

	text-shadow:1px 1px #333333;

	width:100%;

	color:#cdcdcd;} 	

	

#s5_footcopy {

	font-size:12px;

	padding-top:14px;

	float:right;

	text-shadow:1px 1px #333333;}

	

#s5_footcopy a { color:#cdcdcd;text-shadow:1px 1px #333333;}

#s5_footerbar {

	height:26px;

	margin:0 auto;

	width:880px;} 	


/* 1.5 */
/* System Standard Messages */


#system-message dt.error  {

	font-size:14px;

	font-weight:bold;

	color:#ff0000;

	padding-bottom:10px;}


#system-message dd.error {

	font-size:12px;}



#system-message { margin-bottom: 20px; }


#system-message dd.message ul { border:2px solid #A8BBD2;margin-top:11px;margin-left:-39px;background: #C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;padding:11px 11px 11px 40px;list-style-image:none;list-style-position:outside;list-style-type:none;}


/* System Error Messages */

#system-message dd.error ul { color: #c00; background: #E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;list-style-image:none;list-style-position:outside;list-style-type:none;}


/* System Notice Messages */

#system-message dd.notice ul { color: #c00; background: #EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;list-style-image:none;list-style-position:outside;list-style-type:none;}

.tool-tip {

   float: left;

   background: #CCCCCC;

   border: 1px solid #333333;

   padding: 5px;

   color:#000000;

   max-width: 200px;}

.tool-title {

   padding: 0;

   margin: 0;

   font-size: 100%;

   font-weight: bold;

   margin-top: -15px;

   padding-top: 15px;

   padding-bottom: 5px;

   color:#000000;}



.tool-text {

   font-size: 100%;

   color:#000000;

   margin: 0;}


.acysubbuttons {

text-align:left;}

#user_name_formAcymailing1, #user_email_formAcymailing1 {

	border:none;

	width:226px;

	height:18px;

	margin-bottom:10px;

	font-size:12px;

	padding-left:10px;

	background:transparent url(../images/acymailing_inputback.png) center no-repeat; }



#user_name_formAcymailing1 {

	margin-top:13px;}

 .pathway_first {

padding-right:8px;

float:left;}



.pathway_middle {

padding-right:8px;

float:left;}  


.dropdown-menu li > a {

	float: left;}

   

   input[type="submit"] {

	   width: 101px !important;}
	   
	   
/* J3.0 Edit */

.newsflash-title-black {
     margin-bottom: 10px;
}

.newsflash-black p {
     margin-bottom: 15px;
}

#s5_bottompositions label {
     display: inline ! important;
     margin-bottom: 0px ! important;
     margin-top: 0px ! important;
}

.btn-primary {
	
	background: #171616; /* Old browsers */
        background: -moz-linear-gradient(top, #4c4c4c 26%, #171616 100%) !important; /*
FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom,
color-stop(26%,#4c4c4c), color-stop(100%,#171616)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #4c4c4c 26%,#171616 100%) !important; /*
Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #4c4c4c 26%,#171616 100%) !important; /* Opera
11.10+ */
        background: -ms-linear-gradient(top, #4c4c4c 26%,#171616 100%)!important; /* IE10+ */
        background: linear-gradient(to bottom, #4c4c4c 26%,#171616 100%)!important;} /* W3C */
		
		.btn-primary:hover {
	
	background: #171616; /* Old browsers */
        background: -moz-linear-gradient(top, #171616 26%, #4c4c4c 100%) !important; /*
FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom,
color-stop(26%,#171616), color-stop(100%,#4c4c4c)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #171616 26%,#4c4c4c 100%) !important; /*
Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #171616 26%,#4c4c4c 100%) !important; /* Opera
11.10+ */
        background: -ms-linear-gradient(top, #171616 26%,#4c4c4c 100%)!important; /* IE10+ */
        background: linear-gradient(to bottom, #171616 26%,#4c4c4c 100%)!important;} /* W3C */
		
		
/* Border Radius For Buttons */

	.btn, .btn-large, .button, .pager a  {

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	}

	.btn-group > .btn.large:first-child, .btn-group > .btn:first-child {

	-webkit-border-top-left-radius: 4px;

	-moz-border-radius-topleft: 4px;

	border-top-left-radius: 4px;

	-webkit-border-bottom-left-radius: 4px;

	-moz-border-radius-bottomleft: 4px;

	border-bottom-left-radius: 4px;

	}

	.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle {

	-webkit-border-top-right-radius: 4px;

	-moz-border-radius-topright: 4px;

	border-top-right-radius: 4px;

	-webkit-border-bottom-right-radius: 4px;

	-moz-border-radius-bottomright: 4px;

	border-bottom-right-radius: 4px;

	}



	.btn-group-vertical .btn:first-child {

	  -webkit-border-radius: 4px 4px 0 0;

	  -moz-border-radius: 4px 4px 0 0;

	  border-radius: 4px 4px 0 0;

	}

	.btn-group-vertical .btn:last-child {

	  -webkit-border-radius: 0 0 4px 4px;

	  -moz-border-radius: 0 0 4px 4px;

	  border-radius: 0 0 4px 4px;

	}

	.btn-group-vertical .btn-large:first-child {

	  -webkit-border-radius: 4px 4px 0 0;

	  -moz-border-radius: 4px 4px 0 0;

	  border-radius: 4px 4px 0 0;

	}

	.btn-group-vertical .btn-large:last-child {

	  -webkit-border-radius: 0 0 4px 4px;

	  -moz-border-radius: 0 0 4px 4px;

	  border-radius: 0 0 4px 4px;

	}